<!-- Header -->
<header class="bg-dark text-light py-4" style="top: 0;">
  <div class="container text-center">
    <div class="row pb-0 mb-0">
      <div class="col">
        <a href="/" (click)="resetAll();">
          <img src="/assets/universalwhite.png" alt="" width="115px">
        </a>
      </div>
      <div class="col">
      </div>
      <div class="col mt-4">
        <button class="btn btn-dark mb-2 mx-2" (click)="showAllMovies = true;">Movies</button>
        <button class="btn btn-dark mb-2 mx-2">About</button>
        <button class="btn btn-dark mb-2 mx-2">Contact</button>

        @if (!isAdmin) {
          <button class="btn btn-danger mb-2 mx-2 ms-4" type="button" (click)="open(loginModal)">
            <i class="bi bi-person-fill"></i> Admin
          </button>
        }
        @else {
          <button class="btn btn-danger mb-2 mx-1 ms-2" type="button" (click)="open(loginModal)">
            <i class="bi bi-person-fill"></i> Switch User
          </button>
        }

      </div>
    </div>
  </div>
</header>


<!-- Show All Movies Menu Button -->
<!-- Show All Movies Menu Button -->
@if (showAllMovies) {

  <!-- All Movies Cards -->
   @if (showAllMovies && showMovie == false && buyTicket == false && isControlPanel == false;) {
    <section class="now-showing py-5">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <select class="form-select" name="filterbygenre" id="filterbygenre" (change)="onGenreChange($event)" aria-placeholder="Filter movies by genres">
              <option value="">All Movies</option>
              @for (genre of genres; track genre) {
                <option [value]="genre.id">{{genre.genretype}}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="container">
        <h3 class="text-center mb-5">All Movies</h3>
        <div class="row mb-4">
          @for (movie of filteredMovies; track movie; let idx = $index) {
            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                @if(movie.image){
                  <img [src]="'http://localhost:5120' + movie.image" class="card-img-top" alt="{{ movie.title }}" height="500px">
                }
                <div class="card-body text-center">
                  <h5 class="card-title">{{ movie.title }}</h5>
                  <p class="card-text">{{ getGenreName(movie.genreId) }}</p>
                  <button class="btn btn-outline-primary mx-1" (click)="showMovieClick(movie);">View Details</button>
                  <button class="btn btn-outline-dark mx-1" (click)="buyTicketsClick(movie);">Book Tickets</button>
                </div>
              </div>
            </div>
          }
        </div>
        
      </div>
    </section>
   }

  <!-- Show Movie details -->
  @if (showMovie && isControlPanel == false && buyTicket == false){
    <section class="now-showing pb-3">
      <div class="container">
        <div class="row">
          <div class="col mt-2">
            <h2 class="text-start mb-5">
              <button class="btn btn-light text-secondary" (click)="showMovie = false; showAllMovies = true;">
                <i class="bi bi-arrow-left-short"></i> Show All Movies
              </button>
            </h2>
          </div>
          <div class="col">
            <label class="fw-bold fs-3 mt-4" for="movieHeader">{{selectedMovie.title}} - {{ getGenreName(selectedMovie.genreId) }}</label>
          </div>
          <div class="col mt-4">
            <button class="btn btn-light" type="submit" (click)="openYoutubeVideo(selectedMovie.trailerLink)"><i class="bi bi-play-circle"></i> Watch Trailer</button>
          </div>
          <div class="col-auto mt-4 text-end">
            <label class="col-form-label" for="">Duration: {{selectedMovie.durationMinutes}} minutes</label>
          </div>
        </div>
  
        <div class="row">
          <div class="col-auto mb-4">
            <div class="h-100">
              @if(selectedMovie.image){
                <img [src]="'http://localhost:5120' + selectedMovie.image" class="card-img-top" alt="{{ selectedMovie.title }}" height="500px" style="max-width: 400px !important;">
              }
            </div>
          </div>
          <div class="col mb-4">
            <div class="h-100">
              <div class="card-body">
                <label class="fs-4 mt-4" for="movieHeader">{{selectedMovie.description}}</label>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="h-100">
              <div class="card-body text-center">
                <label class="fs-4 mt-4" for="movieHeader">{{selectedMovie}} {{selectedMovie}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  }

  <!-- Book Tickets and choose seats -->
  @if (buyTicket && isControlPanel == false && showMovie == false){
    <section class="now-showing pb-3 h-100">
      <div class="container">
        <div class="row h-100">
          <div class="col mt-2">
            <h2 class="text-start mb-5">
              <button class="btn btn-light text-secondary" (click)="resetAll(); showAllMovies = true;">
                <i class="bi bi-arrow-left-short"></i> Show All Movies
              </button>
            </h2>
          </div>
          <div class="col text-center">
            @if (showTickets) {
              <label class="fw-bold fs-3 mt-4" for="movieHeader">Your Tickets</label>
            }
            @else{
            <label class="fw-bold fs-3 mt-4" for="movieHeader">{{selectedMovie.title}} - Book Tickets</label>
            }
          </div>
          <div class="col mt-4">
            @if (chooseSeats && showTickets == false) {
              <button  
              [class]="!ticketCount || selectedSeats.length <= 0 || selectedSeats.length != ticketCount? 'btn btn-secondary' : 'btn btn-primary'"  
              type="submit" 
              [disabled]="!ticketCount || selectedSeats.length <= 0 || selectedSeats.length != ticketCount" 
              (click)="createTicket();">
                  Book Tickets
              </button>
            }
          </div>
        </div>
  
        <div class="row mb-5 h-100" [class]="showTickets? 'justify-content-center' : '' ">
          @if (showTickets == false) {
            <div class="col-auto mb-4">
              <div class="h-100">
                @if(selectedMovie.image){
                  <img [src]="'http://localhost:5120' + selectedMovie.image" class="card-img-top" alt="{{ selectedMovie.title }}" height="500px" style="max-width: 400px !important;">
                }
              </div>
            </div>
          }
      
          <!-- Choose date and time for specefic movie -->
          @if (chooseSeats == false) {
            <div class="col-2 mb-4">
              <div class="h-100">
                <div class="card-body text-center">
                  <!-- Dropdown for dato -->
                  <select class="form-control my-4" name="choosedate" id="choosedate" [(ngModel)]="selectedDate" (change)="onDateChange()">
                    <option value="" disabled selected>Choose a date</option>
                    @for (date of availableDates; track date) {
                      <option [value]="date">{{ date }}</option>
                    }
                  </select>
            
                  <!-- Dropdown for tid, vises kun når dato er valgt -->
                  @if (filteredTimes.length > 0) {
                    <select class="form-control my-4" name="choosetime" id="choosetime" [(ngModel)]="selectedTime">
                      <option value="" disabled selected>Choose a time</option>
                      @for (time of filteredTimes; track time) {
                        <option [value]="time">{{ time }}</option>
                      }
                    </select>
                  }
            
                  <button class="btn btn-primary my-4" type="submit" [disabled]="!selectedTime" (click)="chooseSeats = true;">Choose Seats</button>
                </div>
              </div>
            </div>
            
          }
  
          @if (chooseSeats && showTickets == false) {  
            <div class="col-1">
              <label for="ticketCount" class="form-label">Quantity:</label>
              <input type="number" class="form-control" id="ticketCount" min="1" max="10" [(ngModel)]="ticketCount" (input)="updateTicketCount(ticketCount)" placeholder="Quantity">
            </div>
          
            <!-- Sædevalg -->
            <div class="col">
              <h3>Choose seats for ({{ticketCount}} tickets)</h3>
              
              <!-- Vis valgte sæder -->
              <div> <strong>Seats Chosen:</strong> {{ selectedSeats.join(', ') }} </div>
              
              <div class="seats-container d-flex flex-wrap">
                @for (seat of seats; track seat) {
                  <button
                    class="btn seat-btn m-1"
                    [class.btn-success]="isSelected(seat.seatNumber)"
                    [class.btn-light]="!isSelected(seat.seatNumber)"
                    [disabled]="!isSelected(seat.seatNumber) && selectedSeats.length >= ticketCount"
                    (click)="toggleSeatSelection(seat.seatNumber)">
                      {{seat.seatRow}}{{seat.seatNumber}}
                  </button>
                }
              </div>
  
              <!-- Fiktiv skærm -->
              <div class="screen text-center my-4">
                <strong>Screen</strong>
              </div>
  
            </div>
          }
  
          @if (showTickets == true) {
            <div class="row justify-content-center">
              @for (ticket of tickets; track ticket) {
                <div class="col-auto text-center">
                  <div class="bg-ticket h-100 fs-5 p-4" style="border-radius: 20px; box-shadow: 1px 1px 40px 1px;">
                    <strong>Ticket</strong> <br>
                    Movie: {{ticket.ticketmovie.title}} <br>
                    Date: {{ticket.ticketdate}} <br>
                    Time: {{ticket.tickettime}} <br>
                    Seat: {{ticket.seatRow}}{{ticket.seatNumber}} <br>
                    Room: {{ticket.room}}
                  </div>
                </div>
              }
            </div>
             
            <div class="row justify-content-center mt-5">
              <div class="col-3">
                <input class="form-control" type="text" name="email" id="email" [(ngModel)]="userEmail">
              </div>
            </div>
  
            <div class="row justify-content-center mt-2">
              <div class="col-2">
                <button class="btn btn-light p-2" type="submit" (click)="sendEmail(userEmail)"><i class="bi bi-envelope-fill"></i> Send Tickets To Email</button>
              </div>
            </div>
  
          }
  
        </div>
      </div>
    </section>
  }

}



<!-- Home page header section with fp buttons (And popular Movies right now) -->
<!-- Home page header section with fp buttons (And popular Movies right now) -->
@if (showMovie == false && this.isControlPanel == false && this.showAllMovies == false && buyTicket == false) {  
    <div class="hero-section text-center d-flex align-items-center justify-content-center">
      <div class="container">
        <h1 class="display-4 text-light fs-1 fw-bold">Welcome to Universal Cinema</h1>
        @if (isAdmin) {
          <label class="fw-bold text-danger fs-7 mb-2 mx-4" for="isadmin">
            <i class="bi bi-person-fill"></i> Signed in as: {{username}}
          </label>
        }
        <p class="lead text-light">Your Premium Cinema Experience</p>
        <a href="#" class="btn btn-primary btn-lg mx-2" (click)="showAllMovies = true;">Book Tickets</a>
        @if (isAdmin) {
          <a href="#" class="btn btn-primary btn-lg mx-2" (click)="isControlPanel = true;">Admin Control Panel</a>
        }
      </div>
    </div>
  
<!-- Popular Movies right now -->
  <section class="now-showing py-5">
    <div class="container">
      <h3 class="text-center mb-5">Popular Movies Right Now</h3>
      <div class="row">
        @for (movie of movies; track movie; let idx = $index) {
          @if (movie.isPopular == true) {
              <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                  @if(movie.image){
                    <img [src]="'http://localhost:5120' + movie.image" class="card-img-top" alt="{{ movie.title }}" height="500px">
                  }
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ getGenreName(movie.genreId) }}</p>
                    <button class="btn btn-outline-primary mx-1" (click)="showMovieClick(movie);">View Details</button>
                    <button class="btn btn-outline-dark mx-1" (click)="buyTicketsClick(movie);">Book Tickets</button>
                  </div>
                </div>
              </div>
          }
        }
      </div>
      
    </div>
  </section>
}

<!-- Show specific Movie details -->
<!-- Show specific Movie details -->
@if (showMovie && isControlPanel == false && showAllMovies == false && buyTicket == false) {
  <section class="now-showing pb-3">
    <div class="container">
      <div class="row">
        <div class="col mt-2">
          <h2 class="text-start mb-5">
            <button class="btn btn-light text-secondary" (click)="showMovie = false;">
              <i class="bi bi-arrow-left-short"></i> Show Popular Movies
            </button>
          </h2>
        </div>
        <div class="col">
          <label class="fw-bold fs-3 mt-4" for="movieHeader">{{selectedMovie.title}} - {{ getGenreName(selectedMovie.genreId) }}</label>
        </div>
        <div class="col mt-4">
          <button class="btn btn-light" type="submit" (click)="openYoutubeVideo(selectedMovie.trailerLink)"><i class="bi bi-play-circle"></i> Watch Trailer</button>
        </div>
        <div class="col-auto mt-4 text-end">
          <label class="col-form-label" for="">Duration: {{selectedMovie.durationMinutes}} minutes</label>
        </div>
      </div>

      <div class="row">
        <div class="col-auto mb-4">
          <div class="h-100">
            @if(selectedMovie.image){
              <img [src]="'http://localhost:5120' + selectedMovie.image" class="card-img-top" alt="{{ selectedMovie.title }}" height="500px" style="max-width: 400px !important;">
            }
          </div>
        </div>
        <div class="col mb-4">
          <div class="h-100">
            <div class="card-body">
              <label class="fs-4 mt-4" for="movieHeader">{{selectedMovie.description}}</label>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="h-100">
            <div class="card-body text-center">
              <label class="fs-4 mt-4" for="movieHeader">{{selectedMovie}} {{selectedMovie}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}

<!-- Buy Ticket from selected movie -->
<!-- Buy Ticket from selected movie -->
@if (buyTicket && isControlPanel == false && showAllMovies == false && showMovie == false;) {
  <section class="now-showing pb-3 h-100">
    <div class="container">
      <div class="row h-100">
        <div class="col mt-2">
          <h2 class="text-start mb-5">
            <button class="btn btn-light text-secondary" (click)="resetAll();">
              <i class="bi bi-arrow-left-short"></i> Show Popular Movies
            </button>
          </h2>
        </div>
        <div class="col text-center">
          @if (showTickets) {
            <label class="fw-bold fs-3 mt-4" for="movieHeader">Your Tickets</label>
          }
          @else{
          <label class="fw-bold fs-3 mt-4" for="movieHeader">{{selectedMovie.title}} - Book Tickets</label>
          }
        </div>
        <div class="col mt-4">
          @if (chooseSeats && showTickets == false) {
            <button  
            [class]="!ticketCount || selectedSeats.length <= 0 || selectedSeats.length != ticketCount? 'btn btn-secondary' : 'btn btn-primary'"  
            type="submit" 
            [disabled]="!ticketCount || selectedSeats.length <= 0 || selectedSeats.length != ticketCount" 
            (click)="createTicket();">
                Book Tickets
            </button>
          }
        </div>
      </div>

      <div class="row mb-5 h-100" [class]="showTickets? 'justify-content-center' : '' ">
        @if (showTickets == false) {
          <div class="col-auto mb-4">
            <div class="h-100">
              @if(selectedMovie.image){
                <img [src]="'http://localhost:5120' + selectedMovie.image" class="card-img-top" alt="{{ selectedMovie.title }}" height="500px" style="max-width: 400px !important;">
              }
            </div>
          </div>
        }
    
        <!-- Choose date and time for specefic movie -->
        @if (chooseSeats == false) {
          <div class="col-2 mb-4">
            <div class="h-100">
              <div class="card-body text-center">
                <!-- Dropdown for dato -->
                <select class="form-control my-4" name="choosedate" id="choosedate" [(ngModel)]="selectedDate" (change)="onDateChange()">
                  <option value="" disabled selected>Choose a date</option>
                  @for (date of availableDates; track date) {
                    <option [value]="date">{{ date }}</option>
                  }
                </select>
          
                <!-- Dropdown for tid, vises kun når dato er valgt -->
                @if (filteredTimes.length > 0) {
                  <select class="form-control my-4" name="choosetime" id="choosetime" [(ngModel)]="selectedTime">
                    <option value="" disabled selected>Choose a time</option>
                    @for (time of filteredTimes; track time) {
                      <option [value]="time">{{ time }}</option>
                    }
                  </select>
                }
          
                <button class="btn btn-primary my-4" type="submit" [disabled]="!selectedTime" (click)="chooseSeats = true;">Choose Seats</button>
              </div>
            </div>
          </div>
          
        }

        @if (chooseSeats && showTickets == false) {  
          <div class="col-1">
            <label for="ticketCount" class="form-label">Quantity:</label>
            <input type="number" class="form-control" id="ticketCount" min="1" max="10" [(ngModel)]="ticketCount" (input)="updateTicketCount(ticketCount)" placeholder="Quantity">
          </div>
        
          <!-- Sædevalg -->
          <div class="col">
            <h3>Choose seats for ({{ticketCount}} tickets)</h3>
            
            <!-- Vis valgte sæder -->
            <div> <strong>Seats Chosen:</strong> {{ selectedSeats.join(', ') }} </div>
            
            <div class="seats-container d-flex flex-wrap">
              @for (seat of seats; track seat) {
                <button
                  class="btn seat-btn m-1"
                  [class.btn-success]="isSelected(seat.seatNumber)"
                  [class.btn-light]="!isSelected(seat.seatNumber)"
                  [disabled]="!isSelected(seat.seatNumber) && selectedSeats.length >= ticketCount"
                  (click)="toggleSeatSelection(seat.seatNumber)">
                    {{seat.seatRow}}{{seat.seatNumber}}
                </button>
              }
            </div>

            <!-- Fiktiv skærm -->
            <div class="screen text-center my-4">
              <strong>Screen</strong>
            </div>

          </div>
        }

        @if (showTickets == true) {
          <div class="row justify-content-center">
            @for (ticket of tickets; track ticket) {
              <div class="col-auto text-center">
                <div class="bg-ticket h-100 fs-5 p-4" style="border-radius: 20px; box-shadow: 1px 1px 40px 1px;">
                  <strong>Ticket</strong> <br>
                  Movie: {{ticket.ticketmovie.title}} <br>
                  Date: {{ticket.ticketdate}} <br>
                  Time: {{ticket.tickettime}} <br>
                  Seat: {{ticket.seatRow}}{{ticket.seatNumber}} <br>
                  Room: {{ticket.room}}
                </div>
              </div>
            }
          </div>
           
          <div class="row justify-content-center mt-5">
            <div class="col-3">
              <input class="form-control" type="text" name="email" id="email" [(ngModel)]="userEmail">
            </div>
          </div>

          <div class="row justify-content-center mt-2">
            <div class="col-2">
              <button class="btn btn-light p-2" type="submit" (click)="sendEmail(userEmail)"><i class="bi bi-envelope-fill"></i> Send Tickets To Email</button>
            </div>
          </div>

        }

      </div>
    </div>
  </section>
}

<!-- Admin Control panel - CRUD -->
<!-- Admin Control panel - CRUD -->
@if (isControlPanel && showMovie == false && showAllMovies == false && buyTicket == false) {
  <div class="container mb-5 pb-2">
    @if (deleteMovies == false) {
        <!--Movie-->
        <div class="mb-5">
          <div class="row justify-content-center mb-3">
            <div class="col">
              <label class="col-form-label fw-bold fs-2" for="createMovie">Create New Movie</label>
            </div>
            <div class="col mt-3">
              <button class="btn btn-light text-danger" type="submit" (click)="logoutClick();"> <i class="bi bi-box-arrow-left"></i> Logout</button>
            </div>
            <div class="col mt-3">
              <button class="btn btn-danger" type="submit" (click)="deleteMovies = true;"><i class="bi bi-trash-fill"></i> Delete Movies</button>
            </div>
          </div>
        
          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="moviename">Movie Name:</label>
            </div>
            <div class="col-4">
              <input class="form-control" type="text" name="moviename" id="moviename" [(ngModel)]="movieName">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="moviegenre">Movie Genre:</label>
            </div>
            <div class="col-4">
              <select class="form-select" name="moviegenre" id="moviegenre" [(ngModel)]="movieGenreId">
                @for (genre of genres; track genre) {
                  <option value="{{genre.id}}">{{genre.genretype}}</option>
                }
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="duration">Duration Minutes:</label>
            </div>
            <div class="col-4">  
              <input class="form-control" type="number" name="duration" id="duration" [(ngModel)]="movieDuration">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="trailer">Trailer Link:</label>
            </div>
            <div class="col-4">
              <input class="form-control" type="text" name="trailer" id="trailer" [(ngModel)]="movieTrailer">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="image">Movie Image:</label>
            </div>
            <div class="col-4">
              <input type="file" name="image" id="image" (change)="onFileSelected($event)">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="ispopular">Movie isPopular</label>
            </div>
            <div class="col-auto">
              <input class="form-check-input" type="checkbox" name="ispopular" id="ispopular" [(ngModel)]="moviePopular">
            </div>
            <div class="col-auto">
              <label class="form-check-label small text-secondary" name="ispopular" id="ispopular">If checked the movie gets shown on the frontpage</label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <label class="col-form-label fw-bold" for="moviedescription">Movie Description:</label>
            </div>
            <div class="col-4">
              <textarea class="form-control" name="moviedescription" id="moviedescription" placeholder="Write movie description here.." [(ngModel)]="movieDescription"></textarea>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <button class="btn btn-primary" type="submit" (click)="createMovie()">Create Movie</button>
            </div>
          </div>
      </div>

      <!--Genre-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createGenre">Create Genre</label>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="genrename">Genre Name:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="genrename" id="genrename" [(ngModel)]="genreName">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createGenre();">Create Genre</button>
          </div>
        </div>
      </div>

      <!--Actor-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createActor">Create Actor</label>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="actorfirstname">Actor Firstname:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="actorfirstname" id="actorfirstname" [(ngModel)]="actorFirstName">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="actorlastname">Actor Lastname:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="actorlastname" id="actorlastname" [(ngModel)]="actorLastName">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="actorage">Actor Age:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="number" name="actorage" id="actorage" [(ngModel)]="actorAge">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="actorcountry">Actor Country:</label>
          </div>
          <div class="col-4">
            <select class="form-select" name="actorcountry" id="actorcountry" [(ngModel)]="actorCountryId">
              @for (country of countries; track country) {
                <option value="{{country.id}}">{{country.countryName}}</option>
              }
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createActor();">Create Actor</button>
          </div>
        </div>
      </div>

      <!--Country-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createcountry">Create Country</label>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="countryname">Country Name:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="countryname" id="countryname" [(ngModel)]="countryName">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="countrycode">Country Code:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="countrycode" id="countrycode" [(ngModel)]="countryCode">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createCountry()">Create Country</button>
          </div>
        </div>
      </div>

      <!--Room-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createroom">Create Room</label>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="roomnumber">Room Number:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="roomnumber" id="roomnumber" [(ngModel)]="roomNumber">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createRoom();">Create Room</button>
          </div>
        </div>
      </div>

      <!--Seat-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createroom">Create Seat</label>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="seatrow">Seat Row:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="seatrow" id="seatrow" [(ngModel)]="seatRow">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="seatnumber">Seat Number:</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="number" name="seatnumber" id="seatnumber" [(ngModel)]="seatNumber">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="seatroom">Room:</label>
          </div>
          <div class="col-4">
            <select class="form-select" name="seatroom" id="seatroom" [(ngModel)]="seatRoom">
              @for (room of rooms; track room) {
                <option value="room.id">{{room.roomNumber}}</option>
              }
            </select>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createSeat();">Create Seat</button>
          </div>
        </div>
      </div>

      <!--Show-->
      <div class="mb-5">
        <div class="row justify-content-center mb-3">
          <div class="col">
            <label class="col-form-label fw-bold fs-2" for="createshow">Create Show</label>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="showmovie">Show Movie</label>
          </div>
          <div class="col-4">
            <select class="form-select" name="showmovie" id="showmovie" [(ngModel)]="showMovieId">
              @for (movie of movies; track movie) {
                <option value="{{movie.id}}">{{movie.title}}</option>
              }
            </select>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="showroom">Show Room</label>
          </div>
          <div class="col-4">
            <select class="form-select" name="showroom" id="showroom" [(ngModel)]="showRoomId">
              @for (room of rooms; track room) {
                <option value="{{room.id}}">{{room.roomNumber}}</option>
              }
            </select>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="showdate">Show Date</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="date" name="showdate" id="showdate" [(ngModel)]="showDate">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="showtime">Show Starttime</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="time" name="showtime" id="showtime" [(ngModel)]="showTime">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col-form-label fw-bold" for="showprice">Show Price</label>
          </div>
          <div class="col-4">
            <input class="form-control" type="number" name="showprice" id="showprice" [(ngModel)]="showPrice">
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-3">
            <button class="btn btn-primary" type="submit" (click)="createShow();">Create Show</button>
          </div>
        </div>
      </div>
    }

    @if (deleteMovies == true) {
      <div class="row justify-content-center mb-5 mt-3">
        <div class="col text-center">
          <div class="fw-bold fs-1">Delete Movies</div>
        </div>
      </div>


      <div class="row my-3">
      @for (movie of movies; track movie) {
        <div class="col-3 deleteCard">
          <div class="card-body">
            {{movie.title}} <br>
            {{getGenreName(movie.genreId)}} <br>
            {{movie.durationMinutes}} <br>
            {{movie.trailerLink}} <br>
            {{movie.isPopular}} <br>
          </div>
        
          <button class="btn btn-danger mt-3 mb-5" type="submit" (click)="deleteMovie(movie.id)">Delete {{movie.title}}</button>
        </div>
      }
      </div>
    }

  </div>
}



<!-- Footer -->
<footer class="footer bg-dark text-light py-4">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item mx-2"><a href="#" class="text-light">Movies</a></li>
      <li class="list-inline-item mx-2"><a href="#" class="text-light">About</a></li>
      <li class="list-inline-item mx-2"><a href="#" class="text-light">Contact</a></li>
    </ul>

    <p class="mb-2">&copy; 2024 Universal. All rights reserved.</p>
  </div>
</footer>

<!-- Login Modal -->
<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" ngbAutoFocus>Login</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="username" class="form-control" id="email" [(ngModel)]="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit(); modal.dismiss();" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
</ng-template>