<header class="bg-dark text-light py-4" style="top: 0;">
  <div class="container text-center">
    <div class="row pb-0 mb-0">
      <div class="col">
        <a href="/">
          <img src="/assets/universalwhite.png" alt="" width="115px">
        </a>
      </div>
      <div class="col">
      </div>
      <div class="col mt-4">
        <button class="btn btn-dark mb-2 mx-2" (click)="showAllMovies = true;">Movies</button>
        <button class="btn btn-dark mb-2 mx-2">About</button>
        <button class="btn btn-dark mb-2 mx-2">Contact</button>

        @if (!isAdmin) {
          <button class="btn btn-danger mb-2 mx-2 ms-4" type="button" (click)="open(loginModal)">
            <i class="bi bi-person-fill"></i> Admin
          </button>
        }
        @else {
          <button class="btn btn-danger mb-2 mx-1 ms-2" type="button" (click)="open(loginModal)">
            <i class="bi bi-person-fill"></i> Switch User
          </button>
        }

      </div>
    </div>
  </div>
</header>

<!-- Show All Movies Menu Button -->
@if (showAllMovies) {
  <div class="container h-100">
    <div class="row">
      <div class="col">
        Show all Moviiiess
      </div>
    </div>
  </div>
}

<!-- Home page header section with fp buttons (And popular Movies right now) -->
@if (showMovie == false && this.isControlPanel == false && this.showAllMovies == false;) {  
    <div class="hero-section text-center d-flex align-items-center justify-content-center">
      <div class="container">
        <h1 class="display-4 text-light fs-1 fw-bold">Welcome to Universal Cinema</h1>
        @if (isAdmin) {
          <label class="fw-bold text-danger fs-7 mb-2 mx-4" for="isadmin">
            <i class="bi bi-person-fill"></i> Signed in as: {{username}}
          </label>
        }
        <p class="lead text-light">Your Premium Cinema Experience</p>
        <a href="#" class="btn btn-primary btn-lg mx-2">Book Tickets</a>
        @if (isAdmin) {
          <a href="#" class="btn btn-primary btn-lg mx-2" (click)="isControlPanel = true;">Admin Control Panel</a>
        }
      </div>
    </div>
  

<!-- Popular Movies right now -->
  <section class="now-showing py-5">
    <div class="container">
      <h3 class="text-center mb-5">Popular Movies Right Now</h3>
      <div class="row">
        @for (movie of movies; track movie; let idx = $index) {
          @if (idx <= 2) {
              <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                  <img [src]="movie.image" class="card-img-top" alt="{{ movie.title }}" height="500px">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.genre }}</p>
                    <button class="btn btn-outline-primary" (click)="showMovieClick(movie);">View Details</button>
                    <button class="btn btn-outline-dark" (click)="buyTicketsClick(movie);">Book Tickets</button>
                  </div>
                </div>
              </div>
          }
        }
      </div>
      
    </div>
  </section>
}

<!-- Show specific Movie details -->
@if (showMovie && isControlPanel == false && showAllMovies == false;) {
  <section class="now-showing pb-3">
    <div class="container">
      <div class="row">
        <div class="col mt-2">
          <h2 class="text-start mb-5">
            <button class="btn btn-light text-secondary" (click)="showMovie = false;">
              <i class="bi bi-arrow-left-short"></i> Show Movies Today
            </button>
          </h2>
        </div>
        <div class="col">
          <label class="fw-bold fs-3 mt-4" for="movieHeader">{{selectedMovie.title}} - {{selectedMovie.genre}}</label>
        </div>
       <!-- <div class="col-auto mt-4">
          <button class="btn btn-light" type="submit"><i class="bi bi-ticket-perforated"></i> Buy Tickets</button>
        </div> -->
      </div>

      <div class="row">
        <div class="col-auto mb-4">
          <div class="h-100">
            <img src={{selectedMovie.image}} alt="" width="360px">
          </div>
        </div>
        <div class="col mb-4">
          <div class="h-100">
            <div class="card-body text-center">
              <label class="fs-4 mt-4" for="movieHeader">{{selectedMovie.description}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}

<!-- Admin Control panel - CRUD -->
@if (isControlPanel && showMovie == false && showAllMovies == false;) {
  <div class="container mb-5 pb-2">
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createMovie">Create New Movie</label>
      </div>
    </div>

    <!--Movie-->
    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="moviename">Movie Name:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="moviename" id="moviename">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="moviegenre">Movie Genre:</label>
      </div>
      <div class="col-4">
        <select class="form-select" name="moviegenre" id="moviegenre">
          @for (genre of genres; track genre) {
            <option value="genre">{{genre}}</option>
          }
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="duration">Duration Minutes:</label>
      </div>
      <div class="col-4">  
        <input class="form-control" type="number" name="duration" id="duration">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="trailer">Trailer Link:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="trailer" id="trailer">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="image">Movie Image:</label>
      </div>
      <div class="col-4">
        <input type="file" name="image" id="image">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="moviedescription">Movie Description:</label>
      </div>
      <div class="col-4">
        <textarea class="form-control" name="moviedescription" id="moviedescription" placeholder="Write movie description here.."></textarea>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Movie</button>
      </div>
    </div>


<!--Genre-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createGenre">Create Genre</label>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="genrename">Genre Name:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="genrename" id="genrename">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Genre</button>
      </div>
    </div>

<!--Actor-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createActor">Create Actor</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="actorfirstname">Actor Firstname:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="actorfirstname" id="actorfirstname">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="actorlastname">Actor Lastname:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="actorlastname" id="actorlastname">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="actorage">Actor Age:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="number" name="actorage" id="actorage">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="actorcountry">Actor Country:</label>
      </div>
      <div class="col-4">
        <select class="form-select" name="actorcountry" id="actorcountry">
          @for (country of countries; track country) {
            <option value="country">{{country}}</option>
          }
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Actor</button>
      </div>
    </div>


    <!--Country-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createcountry">Create Country</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="countryname">Country Name:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="countryname" id="countryname">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="countrycode">Country Code:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="countrycode" id="countrycode">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Country</button>
      </div>
    </div>


    <!--Room-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createroom">Create Room</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="roomnumber">Room Number:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="roomnumber" id="roomnumber">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Room</button>
      </div>
    </div>


    <!--Seat-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createroom">Create Seat</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="seatrow">Seat Row:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" name="seatrow" id="seatrow">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="seatnumber">Seat Number:</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="number" name="seatnumber" id="seatnumber">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Seat</button>
      </div>
    </div>


    <!--Show-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createshow">Create Show</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="showmovie">Show Movie</label>
      </div>
      <div class="col-4">
        <select class="form-select" name="showmovie" id="showmovie">
          @for (movie of movies; track movie) {
            <option value="showmovie">{{movie}}</option>
          }
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="showroom">Show Room</label>
      </div>
      <div class="col-4">
        <select class="form-select" name="showroom" id="showroom">
          @for (room of rooms; track room) {
            <option value="showroom">{{room}}</option>
          }
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="showdate">Show Date</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="date" name="showdate" id="showdate">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="showtime">Show Starttime</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="date" name="showtime" id="showtime">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Show</button>
      </div>
    </div>

    <!--Ticket-->
    <div class="row justify-content-center mb-3">
      <div class="col">
        <label class="col-form-label fw-bold fs-2" for="createticket">Create Ticket</label>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <label class="col-form-label fw-bold" for="showtime">Show Starttime</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="date" name="showtime" id="showtime">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
        <button class="btn btn-primary" type="submit">Create Ticket</button>
      </div>
    </div>

  </div>
}



<footer class="footer bg-dark text-light py-4">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item mx-2"><a href="#" class="text-light">Movies</a></li>
      <li class="list-inline-item mx-2"><a href="#" class="text-light">About</a></li>
      <li class="list-inline-item mx-2"><a href="#" class="text-light">Contact</a></li>
    </ul>

    <p class="mb-2">&copy; 2024 Universal. All rights reserved.</p>
  </div>
</footer>

<!-- Login Modal -->
<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" ngbAutoFocus>Login</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="username" class="form-control" id="email" [(ngModel)]="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit(); modal.dismiss();" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
</ng-template>